- var isRegistrationPage = false
- var isHeaderDropdown = true

extends layout.pug

include ./mixins
block content
  .wrapper-color
    +header(isRegistrationPage, isHeaderDropdown)

    main
      section.search-page
        .search-page__wrapper
          h1 Поиск
          .search.search-page__form
            form(action='#' method='get')
              label
                input(type='text' placeholder='Что ищем?')
              button.search__button.button.button--transparent(type='submit') Найти

    include partials/footer.pug
